.modal {
  &-dialog {
    padding: 24px;
    max-width: 910px;
  }

  &-body {
    padding: 24px;

    @include tablet-up {
      padding: 40px 80px;

    }
    @include desktop-up {
      padding: 80px 160px;

    }

  }
}