.slider {

  &__img {
    min-height: 184px;
    object-fit: cover;
  }

  &.slider2 {
    .carousel-item {
      min-height: 274px;
    }
  }


  &__dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 24px;
    margin-left: 15%;
    list-style: none;
  
  
    div {
      max-width: 8px !important;
      max-height: 8px !important;
      width: 8px !important;
      height: 8px !important;
      border-radius: 100% !important;
      background: $white !important;
      margin: 0 8px !important;
      border: none !important;
      opacity: 1 !important;
  
      &.active {
        background: $dark !important;
      }
    }
  }
}

