.advantage {
  &__photo {
    min-width: 320px;
    min-height: 416px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet-up {
      width: 50%;
      min-height: 720px;
    }
  }
}