.advantage {
  &__photo {
    min-width: 50%;
    min-height: 416px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet-up {
      width: 50%;
    }

    @include desktop-up {
      width: 50%;
      min-height: 720px;
    }
  }

  &__text {
    min-width: 50%;
  }

  &__icon {
    max-width: 30px;
  }
}