.chooseYourVision {
  padding: 32px 0 0 0;
  
  background-color: $grey_lighter;
  &__imgs {
    overflow-x: hidden;
    min-height: 100%;
    justify-content: center;

    @include phone-up {
      justify-content: space-between;
    }



    img {
      max-height: 176px;
      height: 100%;
      object-fit: contain;

      @include phone-up {
        max-height: 276px;
      }
      @include tablet-up {
        max-height: 476px;
      }
      @include desktop-up {
        max-height: none;
      }

    }
  }

  .cta_primary {
    margin-bottom: 16px;
  }

  .carousel-item {
    background-color: $orange_brand;
    height: auto;
    padding: 72px 0;

    @include tablet-up {
      padding: 88px 0;
    }

    .carousel-item-container{

    }
  }

  .slider-dots {
    margin-bottom: 32px;
  }
}