.chooseYourVision {
  padding: 32px 0 0 0;
  
  background-color: $grey_lighter;
  &__imgs {
    overflow-x: hidden;
    min-height: 100%;

    img {
      // max-width: 290px;
      max-height: 176px;
      // min-height: 176px;
      height: 100%;
      object-fit: contain;

      @include tablet-up {
        max-height: none;
      }
    }
  }

  .cta_primary {
    margin-bottom: 16px;
  }

  .carousel-item {
    background-color: $orange_brand;
    height: auto;
    padding:56px 0;
    .carousel-item-container{

    }
  }

  .slider-dots {
    margin-bottom: 32px;
  }
}