*,
*::before,
*::after {
  box-sizing: border-box;
}


.cta_primary {
  border-radius: 150px;
  background-color: $orange_brand;
  padding: 16px 32px;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  margin: 24px auto;
  max-width: max-content;
}

