body {
  font-family: $helvetica
}

.title {
  font-weight: 500;
}

.paragraph {
  font-weight: 400;
}


.fs {
  line-height: 1.5;

  &_10 {
    font-size: 10px;
    font-weight: 400;  
    line-height: 1.5;

    &_light{
      font-size: 10px;
      font-weight: 300;
      line-height: 1.5;

    }

    &_bold {
      font-size: 10px;
      font-weight: 500;
      line-height: 1.5;

    }
  }

  &_11 {
    font-size: 11px;
    font-weight: 400;  
    line-height: 1.5;

    &_light{
      font-size: 11px;
      font-weight: 300;
      line-height: 1.5;

    }

    &_bold {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.5;

    }
  }

  &_12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  

    &_bold {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5; 
    }
  }

  &_16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  

    &_bold {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
  
    }

    &_boldXL {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
  
    }
  }

  &_18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
 

    &_bold {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
 
      &_md {
        @include tablet-up {
          font-size: 18px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
      &_lg {
        @include desktop-up {
          font-size: 18px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
    }
  }

  &_24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;

    &_md {
      @include tablet-up {
        font-size: 24px;
        font-weight: 400; 
        line-height: 1.5;
      }
    }
    &_lg {
      @include tablet-up {
        font-size: 24px;
        font-weight: 400; 
        line-height: 1.5;
      }
    }
 

    &_bold {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
 
      &_md {
        @include tablet-up {
          font-size: 24px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
      &_lg {
        @include desktop-up {
          font-size: 24px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
    }
  }

  &_32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
  

    &_bold {
      font-size: 32px;
      font-weight: 500; 
      line-height: 1.5;

      &_md {
        @include tablet-up {
          font-size: 32px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
      &_lg {
        @include desktop-up {
          font-size: 32px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
    }

    &_boldXL {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
  
    }
  }

  &_40 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
  

    &_bold {
      font-size: 40px;
      font-weight: 500; 
      line-height: 1.5;

      &_md {
        @include tablet-up {
          font-size: 40px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
      &_lg {
        @include desktop-up {
          font-size: 40px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
    }

    &_boldXL {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  &_48 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;

    &_bold {
      font-size: 48px;
      font-weight: 500; 
      line-height: 1.5;

      &_md {
        @include tablet-up {
          font-size: 48px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
      &_lg {
        @include desktop-up {
          font-size: 48px;
          font-weight: 500; 
          line-height: 1.5;
        }
      }
    }
  
    &_boldXL {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.5;
  
    }
  }
}