// FUNCTIONS

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1980px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.section {
  padding: 8px 0;

  @include tablet-up {
    padding: 24px 0 ;
  }

  &_only-top {
    padding: 8px 0 0 0;

    @include tablet-up {
      padding: 24px 0 0 0 ;
    }
  }

  &_only-bottom {
    padding: 0 0 8px 0;

    @include tablet-up {
      padding: 0 0 24px 0 ;
    }
  }
}
