//************************* COLORS *************************//

// MONOCHROME :
$white: #ffffff;
$dark: #18181B;

// PRIMARY
$orange_brand: #F0380F;
$grey_lighter: #F4F4F4;
$grey_light: #E4E4E4;
$grey: #8F8F8F;

//************************* FONTS *************************//

$helvetica: "Helvetica Neue",
"sans-serif";

